<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Roytang's homework4</title>

    <style>

    </style>
</head>

<body>
    <h3 style="text-align: center">你知道每天有多少人和你一起捱這段路程嗎？</h3>
    <div class="container marketing">
        <div class="col-md-8 col-sm-12 col-xs-12"><img src="pictures/dataTable.png" alt="dataTable" style="width: 560px; height: 292px"></div>
        <div class="col-md-4 col-sm-8 col-xs-12">

            <!--<div class="form-group"> <label class="label" for="region">居住地區</label> <select class="form-control ng-pristine ng-untouched ng-valid" name="" id="region" ng-model="input.region" ng-options="translationRegions[v].T for v in options.region track by v" ng-change="getDistrictByRegion()"
                tabindex="0" aria-invalid="false"><option value="hk" label="香港島" selected="selected">香港島</option><option value="kl" label="九龍">九龍</option><option value="nt" label="新界">新界</option></select> </div>
        <div class="form-group"> <label class="label" for="area">工作地區</label> <select class="form-control ng-pristine ng-untouched ng-valid" name="" id="area" ng-model="input.area" ng-options="translationAreas[v].T for v in options.area track by v" ng-change="trackAreaChange()"
                tabindex="0" aria-invalid="false"><option value="a08" label="西環" selected="selected">西環</option><option value="a09" label="寶翠">寶翠</option><option value="a02" label="半山東">半山東</option><option value="a03" label="衛城">衛城</option><option value="a01" label="中環">中環</option><option value="a06" label="堅摩">堅摩</option><option value="a07" label="觀龍">觀龍</option><option value="a04" label="山頂">山頂</option><option value="a05" label="大學">大學</option><option value="a15" label="水街">水街</option><option value="a14" label="正街">正街</option><option value="a11" label="西營盤">西營盤</option><option value="a10" label="石塘咀">石塘咀</option><option value="a13" label="東華">東華</option><option value="a12" label="上環">上環</option></select>            </div>
        <div class="form-group"> <label class="label" for="gender">性別</label> <select class="form-control ng-pristine ng-untouched ng-valid" name="" id="gender" ng-model="input.gender" ng-options="translationGenders[v].T for v in options.gender track by v" ng-change="trackGenderChange()"
                tabindex="0" aria-invalid="false"><option value="male" label="男性">男性</option><option value="female" label="女性">女性</option><option value="both" label="所有人" selected="selected">所有人</option></select> </div>
        <div class="form-group"> <label class="label" for="salary">薪金</label> <input class="form-control ng-pristine ng-untouched ng-valid" id="salary" type="text" ng-model="input.salary" ng-change="trackSalaryChange()" tabindex="0" aria-invalid="false">
            <div id="salary-slider">
                <input type="range" ng-model="input.salary" min="0" max="70000" step="1000" ng-change="trackSalaryChange()" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-valuemin="0" aria-valuemax="70000" aria-valuenow="11555" aria-invalid="false">                </div>
        </div>-->
            <div>
                <p> </p>
            </div>
            <div>
                <p> </p>
            </div>
            <div>
                <label>居住地區</label>
                <select>
            <option value="one">香港島</option>
            <option value="two">九龍</option>
            <option value="three">新界</option>
        </select>
            </div>

            <div>
                <label>工作地區</label>
                <select>
            <option value="1">港島工作</option>
            <option value="2">九龍工作</option>
            <option value="3">新界工作</option>
            <option value="4">地點不定</option>
            <option value="5">家中工作</option>
            <option value="6">香港以外</option>
        </select>
            </div>

            <div class="form-group">
                <label for="headcount">人數</label>
                <input class="form-control" type="text" id="headcount">
            </div>
            <div>
                <label for="commute">通勤用時(/小時)</label>
                <message> </message>
                <input type="range" min="0" max="180" step="10" id="commute">
            </div>
            <div class="form-group">
                <label for="headcount">你的通勤時間超過了港人平均嗎？</label>

            </div>
        </div>

        <div class="col-xs-12">
            <br>
            <pre>
公共交通應用程式moovit公布本年度全球公共交通使用情況報告，分析全球47個城市的5000萬名用戶出行紀錄，發現在亞太區中，香港的通勤時間最短，港人工作日平均花73分鐘乘車上下班，低於墨爾本的80分鐘、悉尼82分鐘、以及新加坡和倫敦的84分鐘；至於巴塞隆拿的通勤時間則最短，僅50分鐘。

另外，香港有21%人每日需花多於2小時乘車上下班，低於新加坡的25%，墨爾本的28%和悉尼的31%，但較巴黎的15%高。至於通勤距離方面，31%港人乘車上班或下班距離逾12公里，比新加坡和倫敦分別16%和20%為高，反映港人雖然乘車上下班時間短，但跨區上下班情況普遍。

但吊詭的是，研究指港人平均候車時間為14分鐘，比新加坡多2分鐘，19%港人更需花20分鐘以上時間候車上下班，大幅拋離新加坡的11%。香港公共交通政策以鐵路為骨幹，大多數港人上下班都選擇乘搭港鐵，反映乘客「多等幾班車」的情況普遍。
            </pre>
        </div>

        <div class="col-xs-12">
            <br>
            <div align="right">
                <p>Reference:</p>
                <a href="https://thestandnews.com/society/%E9%A6%99%E6%B8%AF%E4%BA%BA%E8%BF%94%E5%B7%A5%E5%9C%B0%E9%BB%9E%E4%B8%80%E8%A6%BD/">Table</a><br>
                <a href="http://hk.on.cc/hk/bkn/cnt/news/20161213/bkn-20161213113525226-1213_00822_001.html">Article</a><br>
                <a href="http://www.useit.com.cn/thread-14232-1-1.html">Moovit</a>
            </div>
        </div>

    </div>

    <div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </div>

    <script>
        var countArr = [{
                start: "one",
                end: "1",
                count: "359,658"
            }, {
                start: "one",
                end: "2",
                count: "98,266"
            }, {
                start: "one",
                end: "3",
                count: "47,569"
            }, {
                start: "one",
                end: "4",
                count: "57,091"
            }, {
                start: "one",
                end: "5",
                count: "103,652"
            }, {
                start: "one",
                end: "6",
                count: "19,011"
            },

            {
                start: "two",
                end: "1",
                count: "227,511"
            }, {
                start: "two",
                end: "2",
                count: "484,815"
            }, {
                start: "two",
                end: "3",
                count: "160,085"
            }, {
                start: "two",
                end: "4",
                count: "135,994"
            }, {
                start: "two",
                end: "5",
                count: "91,863"
            }, {
                start: "two",
                end: "6",
                count: "30,459"
            },

            {
                start: "three",
                end: "1",
                count: "292,642"
            }, {
                start: "three",
                end: "2",
                count: "440,819"
            }, {
                start: "three",
                end: "3",
                count: "746,980"
            }, {
                start: "three",
                end: "4",
                count: "234,474"
            }, {
                start: "three",
                end: "5",
                count: "163,812"
            }, {
                start: "three",
                end: "6",
                count: "61,911"
            },
        ];
        $(function() {
            console.log(Object.keys(countArr));
            $('#headcount').val(o: count);
        });
    </script>
</body>

</html>